// Place all the styles related to the demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo {
  .slider {
    margin-top: 75px;
    ul li {
      height: 450px;
    }
  }

  .first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    text-align: center;
    .col1, .col2, .col3, .col4 {
      display: inline-block;
    }
    .content, .title {
      width: 960px;
      margin: 0 auto;
    }

    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
  }

  .first-row {
    .col1, .col2, .col3, .col4 {
      width: 212px;
      margin-left: 37px;
      h1 {
        font-size: 20px;
        margin-top: 0;
        width:100%;
      }
      h2 {
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 15px;
        width:100%;
      }
      ul{
        margin-left:7px;
        li {
          text-align: left;
          font-size: 12px;
          margin-bottom: 4px;
        }
      }
    }

    .col1 {
      margin-left: 0;
    }
  }

  .second-row {
    margin-top:35px;
    margin-bottom:10px;
    background-color: #FAFAFA;
    .title {
      padding-top:30px;
      h1 {
        margin: 0;
        font-family: 'Droid Sans', sans-serif;
        display: inline-block;
        background-color: #fafafa;
        padding: 0 20px;
        strong {
          color: #6A86C3;
          font-family: 'Droid Sans', sans-serif;
        }
      }
      h2 {
        font-size: 15pt;
        margin: 0;
        margin-top: 5px;
        font-weight:none;
      }
    }

    .content {
      border-top: 1px solid rgb(211, 211, 211);
      padding-top: 90px;
      margin-top: -58px;
      .col1, .col2, .col3 {
        margin-left: 30px;
        h1 {
          font-size: 16pt;
          text-align: left;
        }
        section {
          position: relative;
          ul {
            padding: 0;
            text-align: left;
            font-size: 12px;
            li{
              margin-bottom:4px;
            }
          }
          .see-all {
            position: absolute;
            top: -35px;
            right: 0;
            font-size: 10pt;
          }
        }
      }

      .col1 {
        margin-left: 0;
      }
    }
  }

  .third-row {
    text-align:left;
    margin-top:30px;
    padding-bottom:90px;
    background-color: #30434D;
    h1 {
      text-align: left;
      color: white;
      display:inline-block;
      margin-top:30px;
      font-size:28px;
      font-weight:bold;
    }
    section {
      width: 960px;
      margin: 0 auto;
      margin-bottom:30px;
      text-align: center;
    }
  }

  .fourth-row {
    margin-bottom:30px;
    .title {
      text-align: left;
    }
    .content {
      section {
        margin-left: 36px;
        text-align: left;
        width: 205px;
        vertical-align: top;
        h1 {
          width: 100%;
          font-size: 11pt;
          margin:7px 0px 5px 5px;
        }
        h2 {
          width: 100%;
          font-size: 12px;
          margin: 0;
          font-weight: normal;
          margin-left:5px;
        }
        a, a:visited {
          color: black;
          text-decoration: none;
          }
      }
      .col1 {
        margin-left: 0;
      }
    }
  }

  .fifth-row {
    .content {
      article {
        border-top:5px solid rgb(221,221,221);
        padding-top:20px;
        margin-left: 36px;
        text-align: left;
        width: 205px;
        vertical-align: top;
        h1 {
          width: 100%;
          font-size: 11pt;
          margin-bottom:13px;

          a {
            float: right;
          }

        }


        h2 {
          width: 100%;
          font-size: 15px;
          margin: 0;
          font-weight: normal;
          margin-bottom:30px;
          color:gray;
        }

        ul {
          padding: 0;
          li {
            h3 {
              font-size: 10pt;
            }
            p {
              font-size: 9pt;
            }
          }
        }
      }

      .col1.blog{
        ul li{
          display:block;
          height:160px;
          overflow:hidden;
          margin-bottom:30px;
          h3{
            margin:13px 0px 0px;
          }
          p {
            color:rgb(111,111,111);
            margin:6px 0px 30px;
          }
        }
      }

      .col2.facebook{
        ul li{
          display:block;
          height:160px;
          overflow:hidden;
          margin-bottom:30px;
          p {
            font-size:13px;
            color:rgb(71,71,71);
            margin:15px 0px 30px;
            line-height:1.5em;
          }
        }
      }

      .youtube {
        ul li {
          display:block;
          margin:0px 0px 26px;
          a {
            img{display: block;
                margin-right:7px;
               }
            float: left;
          }

          p{
            font-weight:bold;
            font-size:13px;
            margin:0px;
          }

          p:last-child{
            font-size: 9pt;
            font-weight:none;
            color:gray;
          }


        }
        li:last-child{
          margin: 0px;
        }
      }
      .col1 {
        margin-left:0px;
      }

      .after{
        ul li{
          display:block;
          height:100px;
          overflow:hidden;
          border-bottom:1px dashed rgb(211,211,211);
          margin-bottom:12px;
          padding-bottom:12px;
          h3{
            margin:0px 0px 5px;
            color:#448DD3;
          }
          p{
            margin:5px 0px;

          }
          p:last-child{
            color:gray;
          }
        }
      }
    }
  }
}
