.demo .slider {
  margin-top: 75px; }
  .demo .slider ul li {
    height: 450px; }
.demo .first-row, .demo .second-row, .demo .third-row, .demo .fourth-row, .demo .fifth-row {
  text-align: center; }
  .demo .first-row .col1, .demo .first-row .col2, .demo .first-row .col3, .demo .first-row .col4, .demo .second-row .col1, .demo .second-row .col2, .demo .second-row .col3, .demo .second-row .col4, .demo .third-row .col1, .demo .third-row .col2, .demo .third-row .col3, .demo .third-row .col4, .demo .fourth-row .col1, .demo .fourth-row .col2, .demo .fourth-row .col3, .demo .fourth-row .col4, .demo .fifth-row .col1, .demo .fifth-row .col2, .demo .fifth-row .col3, .demo .fifth-row .col4 {
    display: inline-block; }
  .demo .first-row .content, .demo .first-row .title, .demo .second-row .content, .demo .second-row .title, .demo .third-row .content, .demo .third-row .title, .demo .fourth-row .content, .demo .fourth-row .title, .demo .fifth-row .content, .demo .fifth-row .title {
    width: 960px;
    margin: 0 auto; }
  .demo .first-row ul, .demo .second-row ul, .demo .third-row ul, .demo .fourth-row ul, .demo .fifth-row ul {
    padding: 0; }
    .demo .first-row ul li, .demo .second-row ul li, .demo .third-row ul li, .demo .fourth-row ul li, .demo .fifth-row ul li {
      list-style: none; }
.demo .first-row .col1, .demo .first-row .col2, .demo .first-row .col3, .demo .first-row .col4 {
  width: 212px;
  margin-left: 37px; }
  .demo .first-row .col1 h1, .demo .first-row .col2 h1, .demo .first-row .col3 h1, .demo .first-row .col4 h1 {
    font-size: 20px;
    margin-top: 0;
    width: 100%; }
  .demo .first-row .col1 h2, .demo .first-row .col2 h2, .demo .first-row .col3 h2, .demo .first-row .col4 h2 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 15px;
    width: 100%; }
  .demo .first-row .col1 ul, .demo .first-row .col2 ul, .demo .first-row .col3 ul, .demo .first-row .col4 ul {
    margin-left: 7px; }
    .demo .first-row .col1 ul li, .demo .first-row .col2 ul li, .demo .first-row .col3 ul li, .demo .first-row .col4 ul li {
      text-align: left;
      font-size: 12px;
      margin-bottom: 4px; }
.demo .first-row .col1 {
  margin-left: 0; }
.demo .second-row {
  margin-top: 35px;
  margin-bottom: 10px;
  background-color: #FAFAFA; }
  .demo .second-row .title {
    padding-top: 30px; }
    .demo .second-row .title h1 {
      margin: 0;
      font-family: 'Droid Sans', sans-serif;
      display: inline-block;
      background-color: #fafafa;
      padding: 0 20px; }
      .demo .second-row .title h1 strong {
        color: #6A86C3;
        font-family: 'Droid Sans', sans-serif; }
    .demo .second-row .title h2 {
      font-size: 15pt;
      margin: 0;
      margin-top: 5px;
      font-weight: none; }
  .demo .second-row .content {
    border-top: 1px solid lightgrey;
    padding-top: 90px;
    margin-top: -58px; }
    .demo .second-row .content .col1, .demo .second-row .content .col2, .demo .second-row .content .col3 {
      margin-left: 30px; }
      .demo .second-row .content .col1 h1, .demo .second-row .content .col2 h1, .demo .second-row .content .col3 h1 {
        font-size: 16pt;
        text-align: left; }
      .demo .second-row .content .col1 section, .demo .second-row .content .col2 section, .demo .second-row .content .col3 section {
        position: relative; }
        .demo .second-row .content .col1 section ul, .demo .second-row .content .col2 section ul, .demo .second-row .content .col3 section ul {
          padding: 0;
          text-align: left;
          font-size: 12px; }
          .demo .second-row .content .col1 section ul li, .demo .second-row .content .col2 section ul li, .demo .second-row .content .col3 section ul li {
            margin-bottom: 4px; }
        .demo .second-row .content .col1 section a, .demo .second-row .content .col2 section a, .demo .second-row .content .col3 section a {
          position: absolute;
          top: -35px;
          right: 0;
          font-size: 10pt; }
    .demo .second-row .content .col1 {
      margin-left: 0; }
.demo .third-row {
  text-align: left;
  margin-top: 30px;
  padding-bottom: 90px;
  background-color: #30434D; }
  .demo .third-row h1 {
    text-align: left;
    color: white;
    display: inline-block;
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold; }
  .demo .third-row section {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center; }
.demo .fourth-row {
  margin-bottom: 30px; }
  .demo .fourth-row .title {
    text-align: left; }
  .demo .fourth-row .content section {
    margin-left: 36px;
    text-align: left;
    width: 205px;
    vertical-align: top; }
    .demo .fourth-row .content section h1 {
      width: 100%;
      font-size: 11pt;
      margin: 7px 0px 5px 5px; }
    .demo .fourth-row .content section h2 {
      width: 100%;
      font-size: 12px;
      margin: 0;
      font-weight: normal;
      margin-left: 5px; }
  .demo .fourth-row .content .col1 {
    margin-left: 0; }
.demo .fifth-row .content article {
  border-top: 5px solid #dddddd;
  padding-top: 20px;
  margin-left: 36px;
  text-align: left;
  width: 205px;
  vertical-align: top; }
  .demo .fifth-row .content article h1 {
    width: 100%;
    font-size: 11pt;
    margin-bottom: 13px; }
    .demo .fifth-row .content article h1 a {
      float: right; }
  .demo .fifth-row .content article h2 {
    width: 100%;
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    margin-bottom: 30px;
    color: gray; }
  .demo .fifth-row .content article ul {
    padding: 0; }
    .demo .fifth-row .content article ul li h3 {
      font-size: 10pt; }
    .demo .fifth-row .content article ul li p {
      font-size: 9pt; }
.demo .fifth-row .content .col1.blog ul li {
  display: block;
  height: 160px;
  overflow: hidden;
  margin-bottom: 30px; }
  .demo .fifth-row .content .col1.blog ul li h3 {
    margin: 13px 0px 0px; }
  .demo .fifth-row .content .col1.blog ul li p {
    color: #6f6f6f;
    margin: 6px 0px 30px; }
.demo .fifth-row .content .col2.facebook ul li {
  display: block;
  height: 160px;
  overflow: hidden;
  margin-bottom: 30px; }
  .demo .fifth-row .content .col2.facebook ul li p {
    color: #0b0b0b;
    margin: 6px 0px 30px;
    line-height: 1.4em; }
.demo .fifth-row .content .youtube ul li a {
  float: left; }
.demo .fifth-row .content .col1 {
  margin-left: 0; }
