.demo {
  #header .snb nav {
    ul li {
      a:hover {

      }
    }
  }

  h1 {
    a, a:visited {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
    a:hover {
      color: #0599D9;
    }
  }
  ul li {
    a, a:visited {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  section {
    ul li a:hover {
      //display: inline-block;
      //background-color: rgb(220, 220, 220);
    }
  }
}