#header {
  height: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 1040px;
  overflow: hidden;
  z-index: 1000;
  nav {
    width: 1040px;
    margin: 0 auto;
    ul {
      display: inline-block;
      padding: 0;
      li {
        display: inline-block;
        text-align: center;
      }
    }
  }
  .gnb {
    height: 76px;
    a.logo{
      height:36px;
      display:inline-block;
      img{
        margin-top:-10px;
      }
    }
    nav ul{
      display:inline-block;
      height:36px;
      vertical-align:middle;
      margin:16px 0;
      margin-top:30px;
    }
    nav ul.main{
      margin-left:30px;
      li {
        margin: 0 20px;
        font-weight: bold;
        font-size:15px;
      }
    }
    nav ul.member li {
      font-size: 9pt;
      margin: 0 10px;
    }
    nav ul.social{
      li {
        margin: 0;
      }
      li.facebook{
        margin-left: 0px;
        margin-right: 10px;
      }
    }
  }

  .snb {
    background: image-url("pattern_snb_bg.png") repeat-x left top;
    border:0px;
    text-align:center;
    height: 50px;
    nav ul {
      margin:12px 0;
      li {
        margin: 0 20px;
        a, a:visited {
          font-size: 13pt;
          font-weight:none;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }
      }
    }
  }
}

#header {
  .gnb.black {
    background-color: #404040;
    ul li a {
      color: white;
    }
  }

  .snb.white {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: none;
    border-bottom: 1px solid #47C4FA;
    -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 4px 5px rgba(50, 50, 50, 0.2);
    nav ul li a {
      color: rgb(61, 61, 61);
      }

    a:hover {
      color: #0599D9;
      }
  }

  .snb.top-border {
    border-top: 1px solid #47C4FA;
  }
}
